<form class="form-ad">
              <div class="form-group mb30">
                <label class="control-label">Superficie</label> <input class="form-control input-md" name="Adtitle" placeholder="En M²" required="" type="text"> 
              </div>
              <div class="form-group mb30">
                <label class="control-label">Nombre de pièces</label> <input class="form-control input-md" name="Adtitle" required="" type="text"> 
              </div>
              <div class="form-group mb30">
                <label class="control-label">Prix</label> <input class="form-control input-md" placeholder="En DA" name="Adtitle" required="" type="text"> 
              </div>
             <div class="form-group mb30">
                <label class="control-label" for="textarea">Informations complémentaires</label> 
                <textarea class="form-control" id="textarea" name="textarea" rows="4"></textarea>
              </div>
           </form>